@using DSEDFinalProjectTripPlanner.Database
@model DSEDFinalProjectTripPlanner.Models.Human

@{
    ViewData["Title"] = "Create";
    ViewData["Header"] = "Add Person";

    if (DatabaseManager.TripId != 0)
    {
        if (DatabaseManager.FlightId != 0)
        {
            ViewData["Header"] = "Add Passenger";
            ViewData["FrequentFlyerNumber"] = "Frequent Flyer #";
            ViewData["TicketNumber"] = "Seat #";
        }
        if (DatabaseManager.LodgingId != 0)
        {
            ViewData["Header"] = "Add Guest";
            ViewData["FrequentFlyerNumber"] = "Frequent Guest #";
            ViewData["TicketNumber"] = "Ticket #";
        }
        if (DatabaseManager.OtherTransportationId != 0)
        {
            ViewData["Header"] = "Add Passenger";
            ViewData["FrequentFlyerNumber"] = "Frequent Traveller #";
            ViewData["TicketNumber"] = "Seat #";
        }
        if (DatabaseManager.RestaurantId != 0)
        {
            ViewData["Header"] = "Add Diner";
            ViewData["FrequentFlyerNumber"] = "Loyalty Program #";
            ViewData["TicketNumber"] = "Ticket #";
        }
        if (DatabaseManager.CarRentalId != 0)
        {
            ViewData["Header"] = "Add Driver";
            ViewData["FrequentFlyerNumber"] = "Frequent Renter #";
            ViewData["TicketNumber"] = "Ticket #";
        }
        if (DatabaseManager.ActivityTaskId != 0)
        {
            ViewData["Header"] = "Add Attendee";
            ViewData["FrequentFlyerNumber"] = "Loyalty Program #";
            ViewData["TicketNumber"] = "Ticket #";
        }
    }
    else
    {
        ViewData["Header"] = "Add Persons";
    }

}

<div class="header">
    <h1 style="font-family:cursive; font-size:24px;">@ViewData["Header"]</h1>
</div>
<hr />
@if (DatabaseManager.TripId != 0)
{
    @if (
       DatabaseManager.FlightId != 0 || DatabaseManager.LodgingId != 0 || DatabaseManager.OtherTransportationId != 0 || DatabaseManager.RestaurantId != 0 || DatabaseManager.CarRentalId != 0 || DatabaseManager.ActivityTaskId != 0
       )
    {
        <div class="row">
            <div class="col-md-12">
                <form asp-action="Create">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="col-md-4">

                        <div class="form-group">
                            <label asp-for="Fullname" class="control-label"></label>
                            <input asp-for="Fullname" class="form-control" />
                            <span asp-validation-for="Fullname" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label asp-for="FrequentFlyerNumber" class="control-label">@ViewData["FrequentFlyerNumber"]</label>
                            <input asp-for="FrequentFlyerNumber" class="form-control" />
                            <span asp-validation-for="FrequentFlyerNumber" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label asp-for="TicketNumber" class="control-label">@ViewData["TicketNumber"]</label>
                            <input asp-for="TicketNumber" class="form-control" />
                            <span asp-validation-for="TicketNumber" class="text-danger"></span>
                        </div>
                    </div>


                    @*Ids to be hidden*@
                    <div class="col-md-2">
                        <div class="form-group">
                            <label asp-for="TripId" class="control-label"></label>
                            <input asp-for="TripId" class="form-control" readonly="readonly" value="@DatabaseManager.TripId" />
                            <span asp-validation-for="TripId" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="form-group">
                            <label asp-for="FlightId" class="control-label"></label>
                            <input asp-for="FlightId" class="form-control" readonly="readonly" value="@DatabaseManager.FlightId" />
                            <span asp-validation-for="FlightId" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="form-group">
                            <label asp-for="LodgingId" class="control-label"></label>
                            <input asp-for="LodgingId" class="form-control" readonly="readonly" value="@DatabaseManager.LodgingId" />
                            <span asp-validation-for="LodgingId" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="form-group">
                            <label asp-for="OtherTransportationId" class="control-label"></label>
                            <input asp-for="OtherTransportationId" class="form-control" readonly="readonly" value="@DatabaseManager.OtherTransportationId" />
                            <span asp-validation-for="OtherTransportationId" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="form-group">
                            <label asp-for="RestaurantId" class="control-label"></label>
                            <input asp-for="RestaurantId" class="form-control" readonly="readonly" value="@DatabaseManager.RestaurantId" />
                            <span asp-validation-for="RestaurantId" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="form-group">
                            <label asp-for="CarRentalId" class="control-label"></label>
                            <input asp-for="CarRentalId" class="form-control" readonly="readonly" value="@DatabaseManager.CarRentalId" />
                            <span asp-validation-for="CarRentalId" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="form-group">
                            <label asp-for="ActivityTaskId" class="control-label"></label>
                            <input asp-for="ActivityTaskId" class="form-control" readonly="readonly" value="@DatabaseManager.ActivityTaskId" />
                            <span asp-validation-for="ActivityTaskId" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="clear"></div>


                    <div class="form-group">
                        <input type="submit" value="Create" class="btn btn-primary" />
                    </div>
                </form>
            </div>
        </div>
    }
    else
    {
        <p>You can't add a person without selecting a plan</p>
    }
    <div>
        <a asp-area="" asp-controller="Trips" asp-action="Details/@DatabaseManager.TripId" class="btn btn-warning">Back </a>
    </div>
}
else
{
    <p>Please select a trip before adding a persons</p>
    <div>
        <a asp-area="" asp-controller="Trips" asp-action="Index" class="btn-warning">Back</a>
    </div>
}


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
