@using DSEDFinalProjectTripPlanner.Database
@model IEnumerable<DSEDFinalProjectTripPlanner.Models.Trip>

@{
    ViewData["Title"] = "Index";
    ViewData["Header"] = "Upcoming Trips";
}

<div class="header">
    <h1>@ViewData["Header"]</h1>
</div>

<p>
    <a asp-action="Create" class="btn btn-primary">Create New</a>
</p>

@foreach (var item in Model.OrderBy(item => item.StartDate))
{
    <div class="col-md-2">
        <img class="image-responsive" src="~/images/calendar.png" />
    </div>
    <div class="col-md-10">
        <div class="col-md-12">
            <div class="destination">
                <hr />
                <div class="col-md-6">
                    <h3>
                        <a asp-action="Details" asp-route-id="@item.Id">
                            @Html.DisplayFor(modelItem => item.Name)
                        </a>
                    </h3>
                </div>
                <div class="col-md-6">
                    <p>@Html.DisplayFor(modelItem => item.DestinationCity), @Html.DisplayFor(modelItem => item.DestinationCountry)</p>
                    <p>
                        @DatabaseManager.StartDate(item.StartDate)
                        -
                        @DatabaseManager.StartDate(item.FinishDate)
                    </p>
                    <p>
                       
                        @DatabaseManager.NumOfDays(item.FinishDate, item.StartDate) days, @DatabaseManager.NumOfDaysToGo(item.StartDate, DateTime.Now) days to go.<br />
                        @DatabaseManager.NumOfHoursToGo(item.StartDate, DateTime.Now) hours to go.
                    </p>
                    <p>
                        <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-info">Edit</a> |
                        <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-danger">Delete</a>
                    </p>
                </div>
            </div>
        </div>
    </div>
}

