@using DSEDFinalProjectTripPlanner.Database
@model DSEDFinalProjectTripPlanner.DTO.TripDTO

@{
    ViewData["Title"] = "Details";
    ViewData["Header"] = "Flights Details are Here";
}

<div class="header">
    <h1 style="font-family:cursive; font-size:24px;">@ViewData["Header"]</h1>
</div>
<hr />

<div class="col-md-12">
    <div class="col-md-12">
        <div class="col-md-12">
            <div class="details">
                <h5>
                    @DatabaseManager.DepartureDate(Model.MyFlight.DepartureDate)
                </h5>
                <h4>
                    @Html.DisplayFor(model => model.MyFlight.DepartureFrom) to
                    @Html.DisplayFor(model => model.MyFlight.ArrivalTo) |
                    @Html.DisplayFor(model => model.MyFlight.Airline)
                    @Html.DisplayFor(model => model.MyFlight.FlightNumber)
                </h4>
                <p>
                    Confirmation Number: @Html.DisplayFor(model => model.MyFlight.ConfirmationNumber)
                </p>
            </div>
        </div>

        <div class="col-md-12">
            <div class="Departure">
                <div class="col-md-12">
                    <label>Depart:</label>
                </div>

                <div class="col-md-2">
                    <p>
                        @DatabaseManager.DepartureTime(Model.MyFlight.DepartureTime)
                    </p>
                </div>
                <div class="col-md-4">
                    <p>
                        @Html.DisplayFor(model => model.MyFlight.DepartureFrom)
                    </p>
                </div>
                <div class="col-md-3">
                    <p>
                        Terminal: @Html.DisplayFor(model => model.MyFlight.DepartureTerminal)
                    </p>
                </div>
                <div class="col-md-3">
                    <p>
                        Gate: @Html.DisplayFor(model => model.MyFlight.DepartureGate)
                    </p>
                </div>
            </div>
        </div>
        <div class="clear"></div>
        <div class="col-md-12">
            <div class="Arrival">
                <div class="col-md-12">
                    <label>Arrive:</label>
                </div>

                <div class="col-md-2">
                    <p>
                        @DatabaseManager.DepartureTime(Model.MyFlight.ArrivalTime)
                    </p>
                </div>
                <div class="col-md-4">
                    <p>
                        @Html.DisplayFor(model => model.MyFlight.ArrivalTo)
                    </p>
                </div>
                <div class="col-md-3">
                    <p>
                        Terminal: @Html.DisplayFor(model => model.MyFlight.ArrivalTerminal)
                    </p>
                </div>
                <div class="col-md-3">
                    <p>
                        Gate: @Html.DisplayFor(model => model.MyFlight.ArrivalGate)
                    </p>
                </div>
            </div>
        </div>
        <div class="col-md-12">
            <div class="Duration">
                <div class="col-md-2">

                </div>
               
                <div class="col-md-3">
                    <p>
                        Seats: @Html.DisplayFor(model => model.MyFlight.Seats)
                    </p>
                </div>
            </div>
        </div>

        <div class="passengers">
            <h4>Who's Going?</h4>
            @foreach (var human in Model.AllHumans.OrderBy(human => human.TicketNumber).ThenBy(human => human.Id))
            {
                if (human.TripId == DatabaseManager.TripId && human.FlightId == DatabaseManager.FlightId)
                {
                    <div class="col-md-12">
                        <div class="col-md-3">
                            <p>@Html.DisplayFor(modelItem => human.Fullname)</p>
                        </div>
                        <div class="col-md-3">
                            <p>Frequent Flyer #: @Html.DisplayFor(modelItem => human.FrequentFlyerNumber)</p>
                        </div>
                        <div class="col-md-3">
                            <p>
                                Seat #: @Html.DisplayFor(modelItem => human.TicketNumber)
                            </p>
                        </div>
                        <div class="col-md-3">
                            <p>
                                <a asp-controller="Humans" asp-action="Edit" asp-route-id="@human.Id">Edit</a> |
                                <a asp-controller="Humans" asp-action="Delete" asp-route-id="@human.Id">Delete</a>
                            </p>
                        </div>
                    </div>
                }

            }
        </div>
    </div>
</div>

<div>
    <p>
        <a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-info">Edit</a> |
        <a asp-area="" asp-controller="Humans" asp-action="Create" class="btn btn-success">Add Passenger</a> |
        <a asp-area="" asp-controller="Trips" asp-action="Details/@DatabaseManager.TripId" class="btn btn-warning">
            Back 
        </a>

    </p>
</div>


