@using DSEDFinalProjectTripPlanner.Database
@model DSEDFinalProjectTripPlanner.Models.Lodging

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4 style="font-family:cursive; font-size:24px;">Lodge Detail</h4>
    <hr />
    <div class="col-md-12">
        <hr />
        <div class="col-md-3">
            <div class="lodgingName">
                <h3>
                    @Html.DisplayFor(model => model.LodgingName)
                </h3>
                <p>
                    <span class="bold">Confirmation #:</span>
                    @Html.DisplayFor(model => model.ConfirmationNumber)
                </p>
            </div>
        </div>
        <div class="col-md-4">
            <p>
                @Html.DisplayFor(model => model.Address),
                @Html.DisplayFor(model => model.AddressSuburb),
                @Html.DisplayFor(model => model.AddressCity),
                @Html.DisplayFor(model => model.AddressPostcode),<br />
                @Html.DisplayFor(model => model.AddressRegion),
                @Html.DisplayFor(model => model.AddressCountry)
            </p>
        </div>
        <div class="col-md-3">
            <p>
                <span class="bold">Check-in:</span>
                @DatabaseManager.StartDate(Model.ArrivalDate) &#64; 
                @DatabaseManager.ArrivalTime(Model.ArrivalTime)<br />
                <span class="bold">Check-out:</span>
                @DatabaseManager.FinishDate(Model.DepartureDate) &#64; 
                @DatabaseManager.DepartureTime(Model.DepartureTime)
            </p>
        </div>
        <div class="col-md-2">
            <p>
                <span class="bold">Guests:</span>
                @Html.DisplayFor(model => model.NumOfGuests)<br />
                <span class="bold">Rooms:</span>
                @Html.DisplayFor(model => model.NumOfRooms)
            </p>
        </div>
        <div class="col-md-12">
            <p>
                <span class="bold">Description:</span><br />
                @Html.DisplayFor(model => model.RoomDescription)
            </p>
        </div>
    </div>
   


    <div class="col-md-12">
        <p>
            <a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-info">Edit</a> |
            <a asp-action="Delete" asp-route-id="@Model.Id" class="btn btn-danger">Delete</a> |
            <a asp-controller="Humans" asp-action="Create" class="btn btn-success">Add Guest</a> |
            <a asp-area="" asp-controller="Trips" asp-action="Details/@DatabaseManager.TripId" class="btn btn-warning">
                Back 
            </a>
        </p>
    </div>
</div>

