@using DSEDFinalProjectTripPlanner.Database
@model DSEDFinalProjectTripPlanner.DTO.TripDTO

@{
    ViewData["Title"] = "Details";
    ViewData["Header"] = "Restaurant Reservation";
}

<div class="header">
    <h1 style="font-family:cursive; font-size:24px;">@ViewData["Header"]</h1>
</div>
<hr />

<div>
    <div class="col-md-12">
        <div class="col-md-3">
            <div class="details">
                <h3>
                    @Html.DisplayFor(model => model.MyRestaurant.RestaurantName)
                </h3>
            </div>
        </div>
        <div class="col-md-4">
            <p>
                @Html.DisplayFor(model => model.MyRestaurant.Address),
                @if (Model.MyRestaurant.Suburb != null)
                {
                    @Html.DisplayFor(model => model.MyRestaurant.Suburb)<text>,</text>
                }
                @Html.DisplayFor(model => model.MyRestaurant.City),
                @if (Model.MyRestaurant.Postcode != null)
                {
                    @Html.DisplayFor(model => model.MyRestaurant.Postcode)<text>,</text>
                }
                <br />
                @Html.DisplayFor(model => model.MyRestaurant.Region),
                @Html.DisplayFor(model => model.MyRestaurant.Country)
            </p>
        </div>
        <div class="col-md-3">
            <p>
                <span class="bold">Reservation:</span>
                @DatabaseManager.StartDate(Model.MyRestaurant.Date) 
                @DatabaseManager.ArrivalTime(Model.MyRestaurant.Time)<br />
                Confirmation #: @Html.DisplayFor(model => model.MyRestaurant.ConfirmationNumber)
            </p>
        </div>
        <div class="col-md-2">
            <p>
                @if (Model.MyRestaurant.NumberInParty > 0)
                {
                    <span class="bold"># in party:</span>
                    @Html.DisplayFor(model => model.MyRestaurant.NumberInParty)<text><br /></text>
                }
                @if (Model.MyRestaurant.HoursOfOperation != null)
                {
                    <span class="bold">Hours of operation:</span>
                    @Html.DisplayFor(model => model.MyRestaurant.HoursOfOperation)<br />
                }
                @if (Model.MyRestaurant.PriceRange != null)
                {
                    <span class="bold">Price Range:</span>
                    @Html.DisplayFor(model => model.MyRestaurant.PriceRange)<br />
                }
                @if (Model.MyRestaurant.DressCode != null)
                {
                    <span class="bold">Dress code:</span>
                    @Html.DisplayFor(model => model.MyRestaurant.DressCode)<br />
                }
                @if (Model.MyRestaurant.Cuisine != null)
                {
                    <span class="bold">Cuisine:</span>
                    @Html.DisplayFor(model => model.MyRestaurant.Cuisine)<br />
                }

            </p>
        </div>
        @if (Model.MyRestaurant.Description != null)
        {
            <div class="col-md-12">
                @Html.DisplayFor(model => model.MyRestaurant.Description)
            </div>
        }
    </div>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.MyRestaurant.Id" class="btn btn-info">Edit</a> |
    <a asp-action="Delete" asp-route-id="@Model.MyRestaurant.Id" class="btn btn-danger">Delete</a> |
    <a asp-area="" asp-controller="Humans" asp-action="Create" class="btn btn-success">Add Guest</a> |
    <a asp-area="" asp-controller="Trips" asp-action="Details/@DatabaseManager.TripId" class="btn btn-warning">Back </a>
</div>
